html,body{
	background-color: #262626;
	font-family: Arial,Helvetica,sans-serif,"宋体";
	color: #3cf;
}
#page{
	display: block;
	overflow: hidden;
	margin: 5px auto;
	width: 1024px;
	height: 768px;
	position: relative;
}
#mask{
	display: block;
	position: absolute;
	left: 0;top: 0;
	width: 1024px;
	height: 768px;
	background-color: #000;
	opacity: .75;
	filter: alpha(opacity=75);
	z-index: 5;
}
#left{/*4+300+2=306*/
	display: block;
	overflow: hidden;
	position: absolute;
	left: 2px;
	top: 2px;
	width: 300px;
	height: 762px;
	border: 1px solid #3cf;
}
#effectBox{
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 60px;
	width: 100%;
	height: 100%;
/*	background-color: #fff;*/
}
#right{/*1024-306-2-2*/
	display: block;
	overflow: hidden;
	position: absolute;
	left: 306px;
	top: 2px;
	width: 714px;
	height: 762px;
	border: 1px solid #3cf;
}
#compBox{
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0;top: 0;
	width: 100%;
	height: 736px;
	background-image: none;
	background-repeat: repeat;
}
#compBB{
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0;bottom: 0;
	width: 100%;
	height: 26px;
}
.compBut{
	float: left;
	overflow: hidden;
	display: block;
	width: 26px;
	height: 26px;
	background-repeat:no-repeat;
	margin-left: 5px;
/*	background-color: #fff; */
}
.compBut:hover{
	background-color: #555;
}
#pBarBox,#pBar{
	position: absolute;
	display: block;
	overflow: hidden;
	width: 500px;
	height: 14px;
}
#pBarBox{
	display: none;
	left: 200px;
	top: 6px;
	background-color: #000;
}
#pBar{
	left: 0;top: 0;
	background-color: #3cf;
}
#comp{
	display: block;
	position: absolute;
	width: 640px;
	height: 360px;
	transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
#comp>*{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
/*open file*/
#open,#tosvg{
	position: relative;
	overflow: hidden;
	float: left;
	width: 135px;
	height: 30px;
	border-radius: 5px;
	background-color: #555;
	margin: 10px;
	margin-right: 0px;
	font-size: 18px;
	text-align: center;
	line-height: 28px;
/*	padding-top: 8px;
	padding-bottom: -8px;*/
	cursor: pointer;
}
#open{
	z-index: 10;
}
#export{
	text-decoration: none;
	color: #3cf;
}
#open:hover,#tosvg:hover{
	background-color: #777;
}
#file{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 100px;
	display: block;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
/*slider*/
.slider{
	display: block;
	overflow: hidden;
	position: relative;
	width: 300px;
	height: 50px;
	font-size: 14px;
	line-height: 0;
	color: #d4d4d4;
}
.prop_name{
	position: absolute;
	top: 5px;
	left: 10px;
	pointer-events: none;
}
.slider>.prop_value{
	position: absolute;
	top: 5px;
	left: 130px;
	color:#3cf;
	cursor: url(../img/CURSORID-18.cur),e-resize;
}
.slider>.prop_min{
	position: absolute;
	top: 20px;
	left: 10px;
	font-size: 12px;
	pointer-events: none;
}
.slider>.prop_max{
	position: absolute;
	top: 20px;
	left: 250px;
	font-size: 12px;
	pointer-events: none;
}
.slider>.slider_line{
	position: absolute;
	width:280px;
	height:2px;
	background-color: #000;
	top: 32px;
	left: 10px;
	pointer-events: none;
}
.slider>.slider_block{
	position: absolute;
	width:17px;
	height:14px;
	background-image: url(../img/slider.png);
	background-repeat: no-repeat;
	top: 26px;
	left: 140px;
	z-index: 2;
	cursor: pointer;
}

/*list*/
.list{
	display: block;
	overflow: visible;
	position: relative;
	width: 300px;
	height: 40px;
	font-size: 14px;
	line-height: 16px;
	color: #d4d4d4;
}
.list>.prop_value{
	display: block;
	position: absolute;
	top: 6px;
	left: 100px;
	width: 100px;
	height: 16px;
	padding-left: 5px; 
	background-color: #000;
	background-image: url(../img/tri.png);
	background-repeat: no-repeat;
	background-position: 85px 4px;
	color: #3cf;
	cursor: pointer;
}
.list>ul{
/*	display: none;*/
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	top: 22px;
	left: 100px;
	width: 100px;
	padding-left: 5px; 
	background-color: #000;
	z-index: 2;
}
.list li{
	margin-top: 2px;
	margin-bottom: 2px;
	cursor: pointer;
}
.list li:hover{
	background-color: #555;
}
